*

!README.md
!.gitignore

!nvim/
!gtk-4.0/
!gtk-3.0/
!alacritty/
!hypr/
!wofi/
!fontconfig/

!nvim/**/*
!gtk-4.0/**/* 
!gtk-3.0/**/* 
!alacritty/**/* 
!hypr/**/* 
!wofi/**/* 
!fontconfig/**/*

gtk-4/assets/*
gtk-3/bookmarks


